
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #35424a;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

section {
  background: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.services {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 15px;
}

.services img {
  width: 100%;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #35424a;

  color: #ffffff;
}


@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section {
    flex: 1 1 45%;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  main {
    max-width: 1600px;
    margin: auto;
    gap: 30px;
  }

  .services {
    grid-template-columns: repeat(3, 1fr);
  }
  footer{
    position: fixed; width: 100%; bottom: 0;
  }
}
